@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	background: #2c3e50;
	color: #fff;
	font-family: 'montserratregular';
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

nav ul {
	margin: 0;
	padding-left: 0;
	padding-top: 20px;
	text-align: center;
}
nav ul li {
	display: inline-block;
	margin-left: 10px;
}
nav ul li a {
	color: #fff;
	opacity: 0.7;
	text-transform: uppercase;
	text-decoration: none;
}
nav ul li a:hover {
	opacity: 1;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.page {
	width: 100%;
	height: 100vh;
	position: relative;
	display: table;
}
.center-box {
	display: table-cell;
	vertical-align: middle;
}


#inicio {
	text-align: center;
}
#inicio img {
	display: block;
	margin: 0 auto;
}
#inicio h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
	position: relative;
	display: inline-block;
}
#inicio h2 .amperson {
	display: inline-block;
	width: 12px;
	height: 17px;
	background-image: url(../section-2/images/amperson-3.svg);
	margin-left: 10px;
	margin-right: 10px;
}
#inicio h2:hover::after {
	right: -80px;
}
#inicio h2:hover::before {
	left: -80px;
}

#inicio h2::after,
#inicio h2::before {
	content: "";
	width: 50px;
	height: 1px;
	background: #fff;
	position: absolute;
	transition: all .2s ease-in;
}

#inicio h2::after {
	right: -55px;
	top: 20px;
}
#inicio h2::before {
	left: -55px;
	top: 20px;
}
#inicio h2:hover::after {
	right: -80px;
}
#inicio h2:hover::before {
	left: -80px;
}

#inicio .info ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
#inicio .info ul li {
	display: inline-block;
	margin-left: 10px;
}
#inicio .info ul li p span {
	font-size: 20px;
}

form {
	width: 50%;
	margin: 250px auto 0 auto;
}

form .row-form {
	margin-bottom: 10px;
}

form .last-row-form {
	margin-bottom: 40px;
}

.row-form input,
.row-form textarea,
.row-form select {
	padding: 12px;
	border-radius: 5px;
	border: 1px solid gray;
	transition: border .5s ease-in;
}

.row-form input,
.row-form textarea,
.row-form label,
.row-form select {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.row-form label {
	text-align: left;
	margin-bottom: 5px;
}

.row-form textarea {
	resize: none;
}

form button {
	background: #2ecc71;
	color: white;
	border:0;
	border-radius: 5px;
	display: block;
	font-size: 16px;
	font-family: 'montserrat-regular';
	margin: 10px auto 0;
	padding: 10px;
	width: 70px;
}

.row-form input:focus, 
.row-form textarea:focus,
.row-form select:focus {
	outline: none;
	border: 1px solid #66afe9;
}

form button:hover {
	animation: blinkButton 1.5s infinite;
	cursor: pointer;
}

@keyframes blinkButton {
	0% { opacity: 0.5; }
	50% { opacity: 1; }
	100% { opacity: 0.5; }
}

input.inline,
label.inline {
	display: inline-block;
	width: auto;
}



